<?xml version="1.0"?>
<launch>

	<arg name="env_pack" default="$(find cob_default_env_config)" />
	<arg name="robot_env" default="empty"/>
	<arg name="robot_radius" default="0.11"/>
	<arg name="coverage_radius" default="0.2"/>
	<arg name="use_test_maps" default="false"/>
	<arg name="mapfile" default="$(find tirocinio)/maps/map.yaml"/> <!-- serve un file png della mappa! -->
	<arg name="algo_code" default="8"/>
	<arg name="execute_path" default="true"/>

	<node name="room_exploration_client" pkg="ipa_room_exploration" type="room_exploration_client" ns="room_exploration" output="screen">
		<rosparam file="$(arg mapfile)" command="load" />
		<param name="mapfile" value="$(arg mapfile)"/>
		<param name="env_pack" value="$(arg env_pack)"/>
		<param name="robot_env" value="$(arg robot_env)"/>
		<param name="robot_radius" value="$(arg robot_radius)"/>
		<param name="coverage_radius" value="$(arg coverage_radius)"/>
		<param name="use_test_maps" value="$(arg use_test_maps)"/>
		<param name="algo_code" value="$(arg algo_code)"/>
		<param name="execute_path" value="$(arg execute_path)"/>
	</node>
	<node name="gmapping_slam" pkg="gmapping" type="slam_gmapping" args="map:=newmap" output="screen">
		<rosparam file="$(find tirocinio)/param/gmapping_params.yaml" command="load"/>
	</node>

</launch>
