<launch>

    <arg name="scan" default="/base_scan"/>
    <arg name="rviz_conf" default="$(find tirocinio)/config/rviz_navigation.rviz"/>
    <arg name="map_file" default="$(find tirocinio)/maps/map.yaml"/>
  
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(arg rviz_conf)"/>
    <node name="amcl" pkg="amcl" type="amcl" output="screen"/>
    <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(arg map_file)"/>
    <node name="move_base" pkg="move_base" type="move_base" output="screen" args="--diagnostics">
      <rosparam file="$(find tirocinio)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find tirocinio)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find tirocinio)/param/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find tirocinio)/param/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find tirocinio)/param/move_base_params.yaml" command="load" />
      <rosparam file="$(find tirocinio)/param/base_local_planner_params.yaml" command="load" />
    </node>
    

  </launch>