<?xml version="1.0"?>
<launch>

	<arg name="mapfile" default="$(find exp_cov)/maps/map.png"/>

	<node ns="room_sequence_planning" pkg="ipa_building_navigation" type="room_sequence_planning_client" name="room_sequence_planning_client" output="screen">
		<param name="mapfile" value="$(arg mapfile)" />
	</node>

</launch>