<?xml version="1.0"?>
<launch>

	<arg name="mapfile" default="$(find exp_cov)/maps/map.png"/>
  
  <node ns="room_segmentation" pkg="ipa_room_segmentation" type="room_segmentation_client" name="room_segmentation_client" output="screen">
		<param name="mapfile" value="$(arg mapfile)" />
	</node>

</launch>